<!DOCTYPE html>
<html lang="ko">

<head>
  <title>게시글보기</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <h2>게시글보기</h2>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div>
            <%= data.title%>
          </div>
          <div style="text-align:right">
            <%= data.writer%>
          </div>
        </div>
        <div id="description" class="panel-body"></div>
      </div>
      <br>
      <input type="button" class="btn btn-success" style="float:right; margin-left:1%" value="목록" onclick="parent.location.href='/board'"/>
      <input type="button" class="btn btn-primary" style="float:right; margin-left:1%" value="답글" onclick="parent.location.href='/board/reply/'+'<%=data.id%>'"/>
      <input type="button" class="btn btn-danger" style="float:left; margin-right:1%" value="삭제" onclick="parent.location.href='/board/delete/'+'<%=data.id%>'"/>
      <input type="button" class="btn btn-info" style="float:left; margin-right:1%" value="수정" onclick="parent.location.href='/board/edit/'+'<%=data.id%>'"/>
    </div>
    <br>
    <br>
    <div id="comment">
      <table class="table">
        <tbody>
          <% comment.forEach(function(item, index) { %>
            <tr>
              <td style="text-align: left;">
                <%= item.writer%>
              </td>
              <td style="text-align: left;">
                <%= item.description%>
              </td>
            </tr>
            <% })%>
        </tbody>
      </table>
    </div>
    <div id="commentInput">
      <div>
        <% var actionText = 'comment/' + data.id %>
          <form action="<%= actionText %>" method="POST" name="form" onsubmit="return inputCheck()">
            <tr>
              <td class="form-group">
                <label for="writer">작성자</label>
                <input type="text" class="form-control" id="writer" name="writer">
              </td>
              <td class="form-group">
                <label for="description">내용</label>
                <textarea type="text" class="form-control" id="description" name="description" rows="4" style="resize:none;"></textarea>
              </td>
            </tr>
            <br>
            <button type="submit" class="btn btn-success" style="float:right;">댓글등록</button>
          </form>
      </div>
    </div>
  </div>
  </div>
  <script>
    var text = "<%- data.description %>";
    var description = document.getElementById("description");
    description.innerHTML = text;
  </script>
  <script>
    function inputCheck() {
      if (form.writer.value == "") {
        alert("작성자를 입력해 주세요.");
        return false;
      }
      if (form.description.value == "") {
        alert("내용을 입력해 주세요.");
        return false;
      }
      return true;
    }
  </script>
</body>

</html>